.navi {
	margin: #{$base-ratio*2}em 0 #{$base-ratio}em;
	letter-spacing: #{$base-ratio/10}em;
	.navi-index {
		font-weight: 300;
		font-size: 18px;
		margin-bottom: #{$base-ratio/2}em;
	}
	ul {
		li {
			a {
				display: block;
				font-size: 12px;
				color: $base-font-color;
				padding: #{$base-ratio/2}em 0;
			}
			ul {
				margin-left: #{$base-ratio}em;
			}
		}
	}
	.btn-menu {
		display: none;
	}
}