<header class="header" id="js-header">
    <h1 class="logo">
        <a href="./index.html"><img src="./images/logo.svg" alt="Front-end Developer frontainer" width="60" height="40"/></a>
    </h1>

    <div class="navi" id="js-navi">
        <nav class="navi-inner">
            <ol>
                <li><a href="./intro.html">INTRODUCTION</a></li>
                <li><a href="./works.html">WORKS</a></li>
                <li><a href="./activity.html">ACTIVITY</a></li>
            </ol>
        </nav>
    </div>

    <ul class="sns">
        <li><a href="https://twitter.com/frontainer" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/frontainer" target="_blank"><i class="fa fa-github"></i></a></li>
    </ul>
</header>
<a class="navicon" id="js-navicon">
   <span class="navicon-line"></span>
</a>