<header class="header" id="js-header">
    <h1 class="logo">
        <a href="./index.html"><img src="./images/logo.png" alt="Front-end Developer frontainer" width="228" height="41" /></a>
    </h1>

    <nav class="navi" ng-class="{'is-open': root.menuVisible}">
        <div class="navi-index">// INDEX</div>
        <ul>
            <li>
                <a href="./about.html">01 / ABOUT</a>
                <ul>
                    <li>
                        <a href="./activity.html">03 / ACTIVITY</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="./works.html">04 / WORKS</a>
            </li>
            <li>
                <a href="./photo.html">16 / PHOTOGRAPH</a>
            </li>
        </ul>
    </nav>
    <div class="btn btn-menu" ng-class="{'is-active':root.menuVisible}" ng-click="root.toggleMenu();">
        <span class="lines"></span>
    </div>
</header>