@font-face {
	font-family: 'LinuxRegular';
	src: url('../font/LinLibertine_R-webfont.eot');
	src: url('../font/LinLibertine_R-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/LinLibertine_R-webfont.woff2') format('woff2'),
	url('../font/LinLibertine_R-webfont.woff') format('woff'),
	url('../font/LinLibertine_R-webfont.ttf') format('truetype'),
	url('../font/LinLibertine_R-webfont.svg#linux_libertine_oregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'LinuxBold';
	src: url('../font/LinLibertine_RB-webfont.eot');
	src: url('../font/LinLibertine_RB-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/LinLibertine_RB-webfont.woff2') format('woff2'),
	url('../font/LinLibertine_RB-webfont.woff') format('woff'),
	url('../font/LinLibertine_RB-webfont.ttf') format('truetype'),
	url('../font/LinLibertine_RB-webfont.svg#linux_libertine_obold') format('svg');
	font-weight: normal;
	font-style: normal;
}
html {

}
html,body {
	width: 100%;
	height: 100%;

}
body {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: $font-smoothing;
	font-smoothing: $font-smoothing;
	text-rendering: $text-rendering;
	font-size: $base-font-size;
	font-family: $base-font-family;
	color: $base-font-color;
	background-color: $base-background-color;

	background-size: contain;
	@include rem();
	//background-image: url(../images/bg.png);
}

.clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
article {
	word-break: break-all;
}
h1,h2,h3,h4,h5,h6 {
	margin: 1.414em 0 0.5em;
	line-height: 1.2;
	font-weight: normal;
	word-break: break-all;
}

h1 {
	font-size: ms(4);
	font-family: $accent-font-bold;
	letter-spacing: .1em;

}
h2 {
	font-size: ms(3);
}
h3 {
	font-size: ms(2);
}
h4 {
	font-size: ms(1);
}
h5 {
	font-size: ms(1);
}
h6 {
	font-size: ms(1);
}
small {
	font-size: ms(0)
}
a {
	color: $paper-blue;
	text-decoration: none;
}
img {
	max-width: 100%;
}
hr {
	border: 0;
	border-bottom: 1px dotted #ccc;
}