@font-face {
	font-family: 'LinuxRegular';
	src: url('../font/LinLibertine_R-webfont.eot');
	src: url('../font/LinLibertine_R-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/LinLibertine_R-webfont.woff2') format('woff2'),
	url('../font/LinLibertine_R-webfont.woff') format('woff'),
	url('../font/LinLibertine_R-webfont.ttf') format('truetype'),
	url('../font/LinLibertine_R-webfont.svg#linux_libertine_oregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'LinuxBold';
	src: url('../font/LinLibertine_RB-webfont.eot');
	src: url('../font/LinLibertine_RB-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/LinLibertine_RB-webfont.woff2') format('woff2'),
	url('../font/LinLibertine_RB-webfont.woff') format('woff'),
	url('../font/LinLibertine_RB-webfont.ttf') format('truetype'),
	url('../font/LinLibertine_RB-webfont.svg#linux_libertine_obold') format('svg');
	font-weight: normal;
	font-style: normal;
}
html {

}
html,body {
	width: 100%;
	height: 100%;

}
body {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: $font-smoothing;
	font-smoothing: $font-smoothing;
	text-rendering: $text-rendering;
	font-size: $base-font-size;
	font-family: $base-font-family;
	color: $base-font-color;
	background-color: $base-background-color;

	background-size: contain;
	@include rem();
	//background-image: url(../images/bg.png);
}

@media screen and (max-width: 600px) {
	body {
		font-size: 10px;
	}
}

.clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
article {
	word-break: break-all;
}
h1,h2,h3,h4,h5,h6 {
	margin: #{$base-ratio}em 0 0.5em;
	line-height: #{$base-ratio};
	font-weight: normal;
	letter-spacing: .1em;
	word-break: break-word;
	small {
		display: block;
		font-family: $accent-font;
	}
}

h1 {
	font-size: #{$base-ratio*2}em;
	letter-spacing: .1em;
}
h2 {
	font-size: #{$base-ratio*1.414}em;

}
h3 {
	font-size: #{$base-ratio*1.25}em;
}
h4 {
	font-size: #{$base-ratio*1.125}em;
}
h5 {
	font-size: #{$base-ratio*1}em;
}
h6 {
	font-size: #{$base-ratio*1}em;
}
small {
	font-size: $base-font-size;
}
a {
	color: $paper-blue;
	text-decoration: none;
	word-break: break-all;
	&:hover {
		text-decoration: underline;
	}
	&.block-link {
		display: block;
		color: $base-font-color;
		&:hover {
			text-decoration: none;
			color: $paper-blue;
		}
	}
}
img {
	max-width: 100%;
}
hr {
	border: 0;
	border-bottom: 1px dotted #ccc;
}
figure {
	margin: #{$base-ratio}em 0;
}