<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <title>Front-end Entertainer - Frontainer</title>
    <meta name="description" content="フロントエンド開発を楽しむエンジニアのポートフォリオサイト" />
    <meta name="keywords" content="フロントエンドエンジニア,Frontainer,Frontend,ポートフォリオ"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta property="og:locale" content="ja_JP"/>
    <meta property="fb:admins" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:type" content="blog"/>
    <meta property="og:image" content="images/common/logo_ogp.png"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Libre+Baskerville" />
    <link rel="shortcut icon" href="images/common/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="images/common/apple-touch-icon-precomposed.png">
    <% include template/_resource%>
</head>
<body>
<% include template/_header%>

<div class="layout-content">
    <div class="layout-index">
        <section class="visual">
            <h1><small>FRONT-END DEVELOPER</small> FRONTAINER</h1>
            <aside class="mean">
                <div>FRONT-END</div>
                <div>ENTERTAINER</div>
            </aside>
        </section>
    </div>
</div>
<% include template/_script%>
</body>
</html>