<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>フロントエンドエンジニア技術メモ | Frontainer - Front-end Entertainer</title>
    <meta name="description" content="フロントエンド開発を楽しむエンジニアのポートフォリオサイト"/>
    <meta name="keywords" content="フロントエンドエンジニア,Frontainer,Frontend,フロンタイナー"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:locale" content="ja_JP"/>
    <meta property="fb:admins" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:type" content="blog"/>
    <meta property="og:image" content="images/common/logo_ogp.png"/>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Libre+Baskerville"/>
    <link rel="shortcut icon" href="images/common/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="images/common/apple-touch-icon-precomposed.png">
    <script>
        //        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        //            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        //                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        //        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        //
        //        ga('create', 'UA-51515822-1', 'frontainer.com');
        //        ga('send', 'pageview');
    </script>
    <% include template/_resource %>
</head>
<body>

<% include template/_header %>

<div class="layout-content">
    <section class="content">

        <h1>WORKS</h1>

        <h2>RE:SHARIN PROJECT <small>Private Works</small></h2>
        <p>JavaScript Library with TypeScript</p>
        <figure><img src="./images/sharin.png" alt="RE:SHARIN PROJECT"/></figure>
        <p>Work in Progress</p>
        <hr>

        <h2>gulp-sprite-glue <small>Private Works</small></h2>
        <p><a href="https://github.com/frontainer/gulp-sprite-glue" target="_blank">https://github.com/frontainer/gulp-sprite-glue</a></p>
        <p>glue plugin for gulp</p>

        <h2>grunt-sprite-glue <small>Private Works</small></h2>
        <p><a href="https://github.com/frontainer/grunt-sprite-glue" target="_blank">https://github.com/frontainer/grunt-sprite-glue</a></p>
        <p>glue plugin for grunt</p>

        <hr>

        <h2>frontplate <small>Private Works</small></h2>
        <p><a href="https://github.com/frontainer/frontplate" target="_blank">https://github.com/frontainer/frontplate</a></p>
        <p>Front-end Development Enviroment</p>

        <hr>

        <h2>iframe-resizer <small>Private Works</small></h2>
        <p><a href="https://github.com/frontainer/iframe-resizer" target="_blank">https://github.com/frontainer/iframe-resizer</a></p>
        <p>iframe resizable cross domain</p>

        <hr>

        <h2>frontnote <small>Private Works</small></h2>
        <p><a href="https://github.com/frontainer/frontnote" target="_blank">https://github.com/frontainer/frontnote</a></p>
        <figure><img src="./images/frontnote.png" alt="frontnote"/></figure>
        <p>StyleGuide generator</p>

        <h2>gulp-frontnote <small>Private Works</small></h2>
        <p><a href="https://github.com/frontainer/gulp-frontnote" target="_blank">https://github.com/frontainer/gulp-frontnote</a></p>
        <p>frontnote plugin for gulp</p>

        <h2>grunt-frontnote <small>Private Works</small></h2>
        <p><a href="https://github.com/frontainer/grunt-frontnote" target="_blank">https://github.com/frontainer/grunt-frontnote</a></p>
        <p>frontnote plugin for grunt</p>

        <hr>

        <h2>tennis-bracket <small>Private Works</small></h2>
        <p><a href="https://github.com/frontainer/tennis-bracket" target="_blank">https://github.com/frontainer/tennis-bracket</a></p>
        <p>Tennis Bracket</p>

        <hr>

        <h2>styleguide-template <small>Private Works</small></h2>
        <p><a href="https://github.com/frontainer/styleguide-template" target="_blank">https://github.com/frontainer/styleguide-template</a></p>
        <p>StyleGuide with AngularJS</p>

        <hr>

        <h2>Short.js <small>Private Works</small></h2>
        <p><a href="https://github.com/frontainer/Short.js" target="_blank">https://github.com/frontainer/Short.js</a></p>
        <p>Write JavaScript briefly</p>

        <hr>
        
        <p>Official works is closed.</p>
    </section>
</div>
<% include template/_script %>
</body>
</html>